.home
    width: 100%
    flex-basis: 100vh
    display: flex
    align-items: center
    justify-content: center
    color: lime
    display: flex
    align-items: center
    justify-content: center
    padding-top: 10vh
    min-height: 90vh
    
    &::after
        content: ""
        width: 100%
        min-height: 90vh
        background-image: url('../assets/art.png')
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        display: flex
        align-items: center
        justify-content: center
        transition: all 1000ms
        animation: homeAnimation 1000ms 1s linear 
        animation-fill-mode: both
        position: absolute
        top: 10vh
        left: 0
        z-index: -1
        overflow-x: hidden
    &__header
        animation: headerAnimation 1000ms 1s linear
        animation-fill-mode: both 
        text-align: center


@keyframes headerAnimation
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes homeAnimation
    0%
        filter: blur(10px)
    100%
        filter: blur(0px)
