.technologies
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 90vh
    &__header
        font-size: 20px
        margin-bottom: 30px
    &__list
        display: flex
        flex-direction: row
        flex-wrap: wrap
    &__item
        flex-basis: 33%
        list-style: none
        padding: 10px 20px
        text-align: center
        margin-bottom: 30px
        &--name 
            display: block

.fab
    font-size: 30px
    color: #222
    


        

